<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliotecando</title>
    <link rel="stylesheet" href="/resources/assets/css/estilos.css">
    <link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
    <script src="/resources/assets/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:replace="components/header :: header"></div>
    <div class="espacamento">
        <h1 class="centralizar">Livros </h1>

        <div style="float: right; margin: 10px;">
            <a th:href="@{/biblioteca/novo}"> <button type="button" class="btn btn-primary">Novo livro</button></a>       
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Nome</th>
                    <th class="text-center">Autor</th>
                    <th class="text-center">Editora</th>
                    <th class="text-center">Ano</th>
                    <th class="text-center">Páginas</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="livro : ${livros}">
                    <td class="text-center" th:text="${livro.id}"></td>
                    <td class="text-center" th:text="${livro.nome}"></td>
                    <td class="text-center" th:text="${livro.autor}"></td>
                    <td class="text-center" th:text="${livro.editora}"></td>
                    <td class="text-center" th:text="${livro.ano}"></td>
                    <td class="text-center" th:text="${livro.paginas}"></td>
                    <td class="text-center"><a th:href="@{/biblioteca/alterar/{id}(id=${livro.id})}"><button type="button" class="btn btn-warning">Editar</button></a></td>
                    <td class="text-center"><a th:href="@{/biblioteca/remover/{id}(id=${livro.id})}"><button type="button" class="btn btn-danger">Remover</button></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>