body {
    background-color: white;
}

h1, td, th, a, label, input {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px;
}

tr {
    border: 1px solid black;
    margin: 10px;
}

td {
   text-align: right;
   margin: 10px;
   padding: 5px;
}

table { 
    border: 1px solid gray;
    margin: 20px;
}

.input-form {
    width: 30%;
    margin-left: 10px;
}

.botao {
    margin-left: 10px;
    margin-top: 30px;
}

.img-card {
    max-width: 100%;
    max-height: 100%;
    height: 250px;
}

.card {
    width: 80%;
}

.espacamento {
    width: 90%;
    margin: 0 auto;
}

.centralizar {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centralizar-2 {
    margin: 0 auto;
}